<header class="header">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon fontIcon="menu" aria-hidden="false"></mat-icon></button
  >{{ currentOption.Name }}
</header>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" mode="side">
    <div *ngFor="let option of menuOptions">
      <button mat-button routerLink="/{{ option.Router }}">
        <label>{{ option.Name }}</label>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
