<div class="details">
  <div class="header">
    <label class="header-name">{{ pokemon.Name }}</label
    ><label>{{ pokemon.Id }}</label>
  </div>
  <mat-dialog-content>
    <div class="generic-info">
      <div class="pokemon">
        <button
          mat-icon-button
          type="button"
          class="favourite-icon"
          (click)="toggleFavourite(); $event.stopPropagation()"
        >
          <mat-icon
            *ngIf="data.Favourite; else not_favourite"
            fontIcon="favorite"
          ></mat-icon>
          <ng-template #not_favourite
            ><mat-icon fontIcon="favorite_outline"></mat-icon
          ></ng-template>
        </button>
        <img
          src="sprites/sprites/pokemon/{{ pokemon.Id }}.png"
          alt="{{ pokemon.Name }}"
          width="200"
          height="200"
          class="pokemon-image"
        />
      </div>
      <div class="description">
        <label class="description-label">Description</label
        ><label>{{ pokemon.Description }}</label>
      </div>
    </div>
  </mat-dialog-content>
</div>
