<div class="details">
  <div class="header">
    <label class="header-name">{{ pokemon.Name }}</label
    ><label>{{ pokemon.Id }}</label>
  </div>
  <mat-dialog-content>
    <div class="generic-info">
      <div class="pokemon">
        <button
          mat-icon-button
          type="button"
          class="favourite-icon"
          (click)="toggleFavourite(); $event.stopPropagation()"
        >
          <mat-icon
            *ngIf="data.Favourite; else not_favourite"
            fontIcon="favorite"
          ></mat-icon>
          <ng-template #not_favourite
            ><mat-icon fontIcon="favorite_outline"></mat-icon
          ></ng-template>
        </button>
        <img
          src="{{ pokemon.Image }}"
          alt="{{ pokemon.Name }}"
          width="200"
          height="200"
          class="pokemon-image"
        />
      </div>
      <div class="description">
        <label class="label">Description</label
        ><label>{{ pokemon.Description }}</label>
        <div class="chips">
          <mat-chip *ngFor="let type of pokemon.Types">{{ type }}</mat-chip>
        </div>
      </div>
    </div>
    <div class="specific-info">
      <div>
        <label class="label">Stats</label>
        <div *ngFor="let stat of pokemon.Stats">
          <label>{{ stat.Name }}</label>
          <mat-progress-bar
            matTooltip="{{ getBaseStatTooltip(stat) }}"
            mode="determinate"
            value="{{ getBaseStatValue(stat) }}"
          ></mat-progress-bar>
        </div>
      </div>
      <div class="chips">
        <mat-chip *ngFor="let move of pokemon.Moves">{{ move }}</mat-chip>
      </div>
    </div>
  </mat-dialog-content>
</div>
